<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Admin Page</title>

    <link href="/admin.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/admin-script.js"></script>
</head>
<body>

    <div class="header">
        <h1>Admin Page</h1>
        <p>Control database of WEB 3 Project</p>
    </div>

    <div id="body_menu">
        <ul>
            <li><a href="admin_award" class="active">Award</a></li>
            <li><a href="admin_employee">Employee</a></li>
            <li><a href="admin_account">Account</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="leftcolumn">
          
            <div class="card" id="div_edit">
                <h2>Edit award</h2>
                <div style="height:300px; color:white">
                    <form action="http://flip2.engr.oregonstate.edu:4247/admin_update_aw">
                        <fieldset>
                            <legend style="color:black">Edit award:</legend>
                            <br />
                            <label style="display: none">
                                <input id="id_in" type="number" name="id" size="30" maxlength="100" value={{id}} />
                            </label>
                            <label style="color:black">
                                Name:<br />
                                <input id="name_edit" type="text" name="name" size="30" maxlength="100" value="{{name}}">
                            </label>
                            <br />
                            <label style="color:black">
                                Description: <br />
                                <textarea id="description_edit" name="description" cols="50" rows="5" maxlength="250">{{description}}</textarea>
                            </label>
                            <br /> <br />
                            <input type="submit" id="edit_ad_submit">
                        </fieldset>
                    </form>
                </div>
                <p>Some text..</p>
            </div>

            
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>About Me</h2>
                <div class="img" style="height:100px;">Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <div class="img"><p>Image</p></div>
                <div class="img"><p>Image</p></div>
                <div class="img"><p>Image</p></div>
            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>
</body>
</html>