    <nav class="navbar fixed-top navbar-expand-lg navbar-dark orange-nav-bar">
		<a class="navbar-brand" href="/admin_welcome">LYNX</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="/admin_welcome">Home <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="/adminCreate">Create New User</a>
			<a class="nav-item nav-link" href="/adminreport">Reports</a>
			<a class="nav-item nav-link" href="/admin_welcome">Account Settings</a>
		</div>

		<div class="navbar-nav navbar-right">
			<a class="nav-item nav-link" href="/logout">Logout</a>
		</div>

	</div>
	</nav>
