<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Create New User</title>

	<!--  jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<!-- Bootstrap Date-Picker Plugin -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
	
	<link href="css/web3.css" rel="stylesheet">
		
  </head>

  <body>
	<div class="jumbotron jumbotron-fluid " >
		<div class="container" style="color:white">
			<h1 class="display-3"><b>Create New User</b></h1>
		</div>
	</div>

	{{> admin_navbar}}
	
	<form class="form-user" method="post" action="/adminCreate">
	{{status}}
	  <div class="form-group row">
		<label for="nameOnAward" class="col-sm-3 col-form-label">First Name</label>
		<div class="col-sm-10">
		  <input type="text" class="form-control" id="nameOnAward" placeholder="Name" name="fname">
		</div>
	  </div>
	  <div class="form-group row">
		<label for="nameOnAward" class="col-sm-3 col-form-label">Last Name</label>
		<div class="col-sm-10">
		  <input type="text" class="form-control" id="nameOnAward" placeholder="Name" name="lname">
		</div>
	  </div>
	  <div class="form-group row">
		<label for="awardTypeDropdown" class="col-sm-3 col-form-label">Permissions</label>
		<div class="col-sm-10">
		  <select class="form-control" name="userType" >
					<option value="0">User</option>
					<option value="1">Admin</option>
				</select>
		</div>
	  </div>
	    <div class="form-group row">
			<label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
			<div class="col-sm-10">
			  <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Email">
			</div>
		</div>
		  <div class="form-group row">
			<label  for="date" class="col-sm-4 col-form-label">Password</label>
			<div class="col-sm-10">
				<input type="text"class="form-control" id="password" name="password" placeholder="Password" minlength="5">
			</div>
		  </div>
		  <div class="form-group row">
			<label  for="date" class="col-sm-4 col-form-label">Confirm Password</label>
			<div class="col-sm-10">
				<input type="text"class="form-control" id="verifyPassword" placeholder="Confirm Password">
			</div>
		  </div>
		  <div class="form-group row">
			<div class="col-sm-10">
			  <button type="submit" class="btn btn-secondary">Submit</button>
			</div>
		  </div>
	</form>
  </body>
  <script src="create_user.js"></script>
</html>
